
               /* About Me Page */


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@300;400;500;700&display=swap');

/* body {
    background-color: #a2adcf;
    box-sizing: border-box;
   
} */

.sectionAbout{
    background-image: url(./images/copy_65113391.png);
    background-size: auto;
}

.mainee{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    grid-gap: 0px;
    position: relative;
    margin: 10%  auto;
    width: 97%;
    border-radius: 15px;
    background-color: #cee5f2;
}

.photoe img {
    padding-top: 15px;
    border-radius: 15px;
    margin-left: 26%;
}

.socialse {
    margin-top: 3% ;
    font-size: 2rem;
    margin-left: 115px;
}

.oo {
    margin: 0px 7%;
    color: #283740;
}

.oo:hover {
    color: teal;
    transform: scale(1.1);
    transition: 0.5s;
}

.titlee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
    text-align: left;
    opacity: 1;
    color: #283740;
}

.titlee p a {
    color: #ff5722;
    text-decoration: none;
}
.titlee p a:hover {
    color: green;
    text-decoration: none;
}

.title-anim {
    opacity: 1;
    transition: 4s;
    animation: tit 2s ease  both;
}

@keyframes tit {
    from { transform: translateX(50px); }
    to { transform: translateX(0px); }
}

.titlee h1 {
    font-size: 3rem;
    text-align: center;
}

.titlee p {
    font-size: 2rem;
    padding-top: 25px;
}

.more {
    display: flex;
    justify-content: center;
    
    
}

.moree{
    display: flex;
    justify-content: center;
}
.moree h3 {
    margin: 20px 50px;
    cursor: pointer;
    padding: 5px;
    
}

.active {
    /* font-size: 5rem; */
    background-color: #536b78;
    border-radius: 10px;
    color: #cee5f2;;
}


.skills {
    /* position: absolute; */
    top: 5rem;
    opacity: 1;
    background-color: #cee5f2;
    width: 60%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skills .fab, .fas {
    color: #536b78;
    padding: 10px 7px;
    font-size: 1.7rem;
}

.html, .css, .javascript, .bootstrap, .react {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 10px;
    color:#637081;
}

.edu {
    /* position: absolute; */
    top: 5rem;
    opacity: 1;
    background-color: #cee5f2;
    width: 60%;
    border-radius: 15px;
    color: #637081;
}

.edu h5 {
    padding: 10px;
    font-size: 1.4rem;
}

.edu h5 span {
    color: #637081;
    font-size: 1.2rem;
}

.aa {
    opacity: 1;
    transition: 2s;
}


@media only screen and (max-width:1000px){
    
    .photoe img {
        margin-left: 10%;
        width: 400px;
    }

    .socialse {
        margin-top: 3% ;
        font-size: 2rem;
        margin-left: 130px;
    }

    .oo {
        margin: 0px 7%;
        color: #283740;
    }

    .oo:hover {
        color: teal;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .titlee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10%;
        text-align: left;
        opacity: 1;
    }

    .title-anim {
        opacity: 1;
        transition: 4s;
        animation: tit 2s ease  both;
    }

    @keyframes tit {
        from { transform: translateX(50px); }
        to { transform: translateX(0px); }
    }

    .titlee h1 {
        font-size: 3rem;
    }

    .titlee p {
        font-size: 1.5rem;
        padding-top: 25px;
    }

    .more {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    
}


@media only screen and (max-width: 850px) {
    .photoe img {
        margin-left: 10%;
        width: 300px;
    }
    
    .socialse {
        margin-top: 3% ;
        font-size: 2rem;
        margin-left: 40px;
    }
    
    .oo {
        margin: 0px 7%;
        color: #283740;
    }
    
    .oo:hover {
        color: teal;
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .titlee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10%;
        text-align: left;
        opacity: 1;
    }
    
    .titlee-anim {
        opacity: 1;
        transition: 4s;
        animation: tit 2s ease  both;
    }
    
    @keyframes tit {
        from { transform: translateX(50px); }
        to { transform: translateX(0px); }
    }
    
    .titlee h1 {
        font-size: 2.5rem;
    }
    
    .titlee p {
        font-size: 1.3rem;
        padding-top: 25px;
    }

    .socials-footer {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 620px) {

    .photoe img {
        margin-left: 10%;
        width: 210px;
    }
    
    .socialse {
        margin-top: 3% ;
        font-size: 1.2rem;
        margin-left: 30px;
    }
    
    .oo {
        margin: 0px 7%;
        color:  #283740;
    }
    
    .oo:hover {
        color: teal;
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .titlee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5%;
        text-align: left;
        opacity: 1;
       
    }
    
    .title-anim {
        opacity: 1;
        transition: 4s;
        animation: tit 2s ease  both;
    }
    
    @keyframes tit {
        from { transform: translateX(50px); }
        to { transform: translateX(0px); }
    }
    
    .titlee h1 {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    
    .titlee p {
        font-size: 0.8rem;
        padding-top: 25px;
    }

    .more h3 {
        text-align: center;
        color: wheat;
        margin: 20px 50px;
        cursor: pointer;
        font-size: 1rem;
    }

        
    .edu h5 {
        padding: 10px;
        font-size: 1.2rem;
    }
    
    .edu h5 span {
        color: #283740;
        font-size: 0.9rem;
    }

    .html, .css, .javascript, .bootstrap, .react {
        display: flex;
        font-size: 0.9rem;
        text-align: center;
        padding-top: 10px;
        color: #283740;
    }

    
    footer {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    
}

@media only screen and (max-width: 400px){

    .photoe img {
        margin-left: 17%;
        width: 210px;
    }

    .socialse {
        margin-top: 3% ;
        font-size: 1.2rem;
        margin-left: 40px;
    }
    
    
    .titlee{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0% auto;
        text-align: center;
        opacity: 1;
        width: 80%;
    }
    
    .title-anim {
        opacity: 1;
        transition: 4s;
        animation: tit 2s ease  both;
    }
    
    @keyframes tit {
        from { transform: translateX(50px); }
        to { transform: translateX(0px); }
    }
    
    .titlee h1 {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 1.5rem;
    }
    
    .titlee p {
        font-size: 1rem;
        padding-top: 25px;
    }

        
    .skills {
       
        width: 80%;
        
    }


    .html, .css, .javascript, .bootstrap, .react {
        display: flex;
        font-size: 0.7rem;
        text-align: center;
        padding-top: 10px;
        color: #283740;
    }

        
    .edu h5 {
        padding: 10px;
        font-size: 1rem;
    }
    
    .edu h5 span {
        color: #283740;
        font-size: 0.7rem;
    }

}

.hidebody {
    display: none;
    transition: 1s;
}

@media only screen and (max-width : 350px){

    .skills {
        width: 60%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

   

    .moree h3{
        font-size: 1.25rem;
    }
}