@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: #111215;
    box-sizing: border-box;
   
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    color: wheat;
    margin-top: 12%;
    font-family: 'Amatic SC', cursive;
    grid-gap: 0px;
    position: relative;
    background-image: url(./images/copy_65113391.png);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    text-align: left;
    position: relative;
}

.title h1 {
    font-size: 5rem;
}

.title p {
    font-size: 2.5rem;
}

.title a {
    text-decoration: none;
    width: fit-content;
}

.title a P{
    background-color: #6d5252;
    width: fit-content;
    border-radius: 15px;
    padding: 2px 10px;
    text-align: center;
    margin-top: 3%;
    cursor: pointer;
    color: wheat;
}

.title a P:hover {
    background-color: #7d7070;
    color: #ffb4b4;
    transform: scale(1.02);
    transition: 0.5s;
}


.backphotos {
    position: absolute;
}

.backphotos img {
    width: 80px;
    position: absolute;
}

.backphotos img:first-child {
    top: -50px;
    left: 500px;
    animation: line 2s linear alternate infinite ;
}

.backphotos img:nth-child(2) {
   top: 350px;
   left: 30px;
   animation: round 25s linear infinite both;
}

@keyframes round {
    from { transform: rotate(0deg)}

    to { transform: rotate(360deg);}
}

@keyframes line {
    from {transform: translateX(10px);}
    to {transform: translateX(-10px);}
}


.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.photo img {
    width: 400px;
    border-radius: 50%;
    border: 4px solid #6b5e5e;
}

.portofolio {
    margin-top: 5%;
    background-image: url(./images/copy_65113391.png);
}

.portofolio h2 {
    text-align: center;
    color: wheat;
    margin: 10px 0px;
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;
}

.card {
    width: 25rem !important;
    background-color: wheat;
    color: #244452;
}

.card:hover{
    transform: scale(1.02);
    transition: 0.7s;
}

.porto-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
}

.porto-cards .card {
    margin: 20px auto;
}

.card-title {
    font-weight: 700;
}

.card-img-top {
    height: 312px;
    object-fit: cover;
}

.card-body a {
    text-decoration: none;
    background-color: #244452;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 10px;
    color: wheat;
}

footer {
    background-color: #7D7070;
    width: 95%;
    border-radius: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 2%;
    text-align: center;
}

.get h5 {
    color: wheat;
    font-size: 2rem;
}

.socials-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    
}

.socials-footer .fab {
    color: wheat;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone .fas, .mail .fas {
    color: wheat;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.phone p, .mail p {
    color: wheat;
    font-size: 1.2rem;
    padding: 5px 0px;
}

@media only screen and (max-width: 965px) {
    .photo img {
        width: 300px;
        border-radius: 50%;
        border: 4px solid #6b5e5e;
    }
    
        
    .title h1 {
        font-size: 4rem;
    }

    .title p {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 850px) {
    .get h5 {
        color: wheat;
        font-size: 2rem;
    }

    .socials-footer {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 620px) {

    .photo img {
        width: 200px;
        border-radius: 50%;
        border: 4px solid #6b5e5e;
    }
    
        
    .title h1 {
        font-size: 2.5rem;
    }

    .title p {
        font-size: 1.6rem;
    }
        
    .porto-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    }
    .card {
        width: auto;
        background-color: wheat;
        color: #244452;
    }
    .card-img-top {
        height: auto;
        object-fit: cover;
    }

        
    .backphotos img {
        display: none;
    }

        
    .portofolio h2 {
        text-align: center;
        color: wheat;
        margin: 10px 0px;
        font-size: 3rem;
        font-family: 'Amatic SC', cursive;
    }

        
    footer {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    
}

@media only screen and (max-width: 450px) {
    .photo img {
        width: 150px;
        border-radius: 50%;
        border: 4px solid #6b5e5e;
    }

    .title h1 {
        font-size: 1.8rem;
    }

    .title p {
        font-size: 1.2rem;
    }

        
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        text-align: left;
        position: relative;
    }

    .porto-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }

    .card {
        width: 200px !important;
        background-color: wheat;
        color: #244452;
    }

    
}
